span.home_nav {
    padding: 0px 1.5em;
}

span.home_nav a {
    color: white;
}

span.home_nav a:hover {
    color: gray;
    text-decoration: none;
}

span.home_nav a:focus {
    color: gray;
    text-decoration: none;
}

.home_nav_hdr {
    margin-top: 1em;
}

.box1 {
    width: 196px;
    height: 196px;
    border: 1px solid transparent;
    /*background-color: blue;*/
}

.box2 {
    width: 392px;
    height: 392px;
    /*border: 1px solid transparent;*/
  
}

.scnd_col_hom {
    position: relative;
    left: 1.5em;
}

.frst_col_hom {
    position: relative;
    left: 2.57em;
}

.thrd_col_hom {
    position: relative;
    right: .65em;
}

.forth_col_hom {
    position: relative;
    left: -1.7em;
}

.box1_1 {
    background-color: #300265;
}


/*-----------------first column------------*/

p.box1_1_cont {
    color: white;
    margin-top: 2em;
    font-size: 2em;
}
p.box1_1_cont_inner{
    color: black;
    font-size: 12px;
}

.box1_3 {
    background-image: url('../images/home/crcl.jpg');
        position: relative;
    top: -1px;
}

p.box1_2_cont {
    font-size: 29px;
    color: #aaaaaa;
}

span.box1_2_cont_inner {
    color: white;
}


/*-----------second column----------*/

.box2_1 {
    background-color: #d5e0eb;
    padding: 1.3em;
}

p.box2_1_cont {
    font-size: 24px;
    color: #949494;
}

.box2_3 {
    background-image: url('../images/home/plane.jpg');
      background-repeat: no-repeat;
          position: relative;
    top: -1px;
}

.box3_1 {
    background-image: url('../images/home/men.jpg');
    background-repeat: no-repeat;
}

p.box2_2_cont{
    color: white;
    font-size: 18px;
    position: relative;
    top: 1.5em;
}

p.box3_2_cont_inner{
    color: white;
    font-size: 24px;
    margin-top: 2em;
}

.img_box_home{
    position: relative;
    top: 12px;
}

span.box2_1_cont1{
        color: black;
    font-size: 24px;
}

p.box2_1_cont1{
    font-size: 14px;
    color: black;
    position: relative;
    left: 4.9em;
    top: -1em;
}
/*--------fourth column---------------*/

.box4_1 {
    width: 390px;
    height: 193px;
    border: 1px solid transparent;
}

.box4_2 {
    background-image: url('../images/home/phone.jpg');
}


.element_hedr{
        position: relative;
    top: 2em;
}
p.box3_2_cont{
    color: white;
        padding-left: 1.5em;
    position: relative;
    top: 3.8em;
}
p.box4_1_cont{
    color: white;
    margin-top: 2em;
}

.box4_1_cont_inner{
    color: white;
    font-size: 24px;
}


/*---------------------------------------------------------PRODUCT--------------------------------------------------*/

.hdr_product{
        margin-top: 10em;
}

.dtasol_product{
   font-size: 1.4em;
}

p.hdr_product_cont1{
    font-size: 14px;
    /*color: #d5e0eb;*/
}
p.hdr_product_cont2{
    font-size: 60px;
    /*color: #d5e0eb;*/
}

.hdr_product1{
        margin-top: 7.65em;
}

p.hdr_product_inner1{
    font-size: 18px;
    margin-top: 9%;
}

.small_box_product{
    width: 184px;
    height: 184px;
    border:1px solid none;
    /* margin-left: -13%; */
}

.pilt{
    margin-top: .9%;
    margin-left: -1.8%;
}

.scnd_col_prodct{
    width: 382px;
    height: 373px;
    border:1px solid none;
    margin-top: -46.5%;
    background-color: rgba(246, 246, 246, 0.8);
    margin-left: 7%;
}

.frst_col_prodct{
    position: relative;
    left: 3.9em;
}

.scnd2_col_product{
    width: 382px;
    height: 187px;
    border:1px solid none;
    position: relative;
    left: 2em;
}

p.scnd_col_cont_product{
    font-size: 24px;
    color:#686868;
    padding: 1em;
}

.third_col_product{

margin-left: -1.8%;

position: relative;

left: 5px;
}

.fourth_col_product{
    
margin-left: -2.3%;
    
position: relative;
    
left: 5px;
}

.fifth_col_product{
    margin-left: -2%;
}

p.scnd1_col_cont_product{
    font-size: 18px;
    color: #686868;
        padding: 1em;
    margin-top: 2.2em;
}



/*----------------------------------service--------------------------------------------------------------*/

.hdr_service_cont2{
    font-size: 60px;
}

span.icon1_content1, span.icon1_content2{
    font-size: 14px;

}